header {
    /*background-color: #4885ed;*/
    color: black;
    font-size: 50px; text-align: center;
    padding: 50px; font-weight: bold;
}

body {
    background-color: #3cba54;
    height: 300px;
    padding: 50px;
}

main {
    /*background-color: #db3236;*/
    font-weight: bold;
    height: 300px; width: 1000px;
    color: black;
    padding-bottom: 25px;
}

section {
    background-color: #f4c20d;
    /*background-color: #4885ed;*/
    color: black;
    font-size: 18px; text-align: left;
    padding: 50px;
    height: 1000px; /*width: 1000px;*/
}
